body {
    margin: 0;
    padding: 0;
}


header {
    margin: 0;
    padding-top: 8em;
    padding-bottom: 8em;
    height: 10%;
    width: 100%;
    text-align: center;
    background-image: url(img/header-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    line-height: 0.75em;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    font-size: 5em;
    text-shadow: 0.02em 0.02em 0.1em #000;
    line-height: 1em;
    margin: 0;
}

#header-picture {
    border-radius: 100%;
    width: 2.75em;
}

#sub-title {
    font-family: 'Nanum Gothic', serif;
    font-size: 1.55em;
    text-shadow: 0.02em 0.02em 0.1em #000;
    margin-top: 0;
}